<div>
  <h1 class="my-16 font-bold text-4xl">About</h1>
  <p>Find me in app/views/pages/about.html.erb</p>

  <h2>Copyright notices</h2>
  <p>
    Scripture quotations marked “ESV” are from the ESV® Bible (The Holy Bible,
    English Standard Version®), © 2001 by Crossway, a publishing ministry of
    Good News Publishers. Used by permission. All rights reserved. The ESV text
    may not be quoted in any publication made available to the public by a
    Creative Commons license. The ESV may not be translated into any other
    language.

    Users may not copy or download more than 500 verses of the ESV Bible or
    more than one half of any book of the ESV Bible.
  </p>
</div>
