<div class="max-w-prose mx-auto">
  <h1 class="my-16 font-bold text-4xl text-center">About</h1>

  <h2 class="mt-8 text-2xl font-bold">Purpose</h2>
  <p class="my-4">
    The primary purpose of this site is to provide a convenient way for
    pastors, worship leaders, and church admins to get accurate information
    about upcoming days in the Anglican lectionary, as found in the
    <a class="underline" href="https://bcp2019.anglicanchurch.net/">Book of Common Prayer 2019</a>.
    In particular, this site provides a number of features that should
    prove useful for those who are responsible for creating bulletins and
    Scripture inserts for their local congregations.
  </p>

  <h2 class="mt-8 text-2xl font-bold">How to Use</h2>
  <p class="my-4">
    Most of the site should be fairly self-explanatory. By default, the main
    page shows all the upcoming holy days over the next four weeks. If you
    need to look further ahead (or behind) you can set your own start and
    end dates and click the search button.
  </p>
  <p class="my-4">
    Clicking on the name of a day will take you to its detail page,
    where the Collect and Lessons for the day are displayed, along with
    other bits of liturgical information. If you're making a bulletin or
    Scripture insert, you can click the big copy button to have all those
    texts automagically copied into your system clipboard. Copy. Paste.
    Prosper.
  </p>

  <h2 class="mt-8 text-2xl font-bold">Coming Soon</h2>
  <ul class="my-4">
    <li class="list-inside list-disc">Allow users to choose between alternate lessons.</li>
    <li class="list-inside list-disc">Automagic PDF generation for Scripture inserts.</li>
    <li class="list-inside list-disc">Traditional language Lessons and Collects.</li>
  </ul>

  <h2 class="mt-8 text-2xl font-bold">Copyright notices</h2>
  <p class="my-4">
    Scripture quotations marked “ESV” are from the ESV® Bible (The Holy Bible,
    English Standard Version®), © 2001 by Crossway, a publishing ministry of
    Good News Publishers. Used by permission. All rights reserved. The ESV text
    may not be quoted in any publication made available to the public by a
    Creative Commons license. The ESV may not be translated into any other
    language.
  </p>

  <p class="my-4">
    Users may not copy or download more than 500 verses of the ESV Bible or
    more than one half of any book of the ESV Bible.
  </p>
</div>
