<div class="max-w-prose mx-auto">
  <h1 class="my-16 font-bold text-4xl text-center">Resources</h1>

  <h2 class="mt-8 text-2xl font-bold underline text-neutral-950">
    <a href="https://anglicanchurch.net/">
      Anglican Church in North America
    </a>
  </h2>
  <p class="my-4">
    The official website for the <em>Anglican Church in North America</em>.
  </p>

  <h2 class="mt-8 text-2xl font-bold underline text-neutral-950">
    <a href="https://bcp2019.anglicanchurch.net/">
      Book of Common Prayer 2019
    </a>
  </h2>
  <p class="my-4">
    The official website for the <em>Book of Common Prayer 2019</em>, where
    you can purchase your own copy or download the full text of the
    BCP in various formats.
  </p>

  <h2 class="mt-8 text-2xl font-bold underline text-neutral-950">
    <a href="https://cwtc.gitlab.io/scriptural-bcp/index.html">
      The Scriptural BCP
    </a>
  </h2>
  <p class="my-4">
    An online, interactive study edition of the <em>Book of Common Prayer
    1662</em>. Every line of the Prayer Book is cross-referenced with
    Scripture and relevant snippets of commentary from various Anglican
    divines. A wonderful way to discover why the Book of Common Prayer is
    rightfully called "the Bible arranged for worship."
  </p>

  <h2 class="mt-8 text-2xl font-bold underline text-neutral-950">
    <a href="https://hymnary.org/">
      Hymnary.org
    </a>
  </h2>
  <p class="my-4">
    Online database of Christian hymns and hymnals maintained by the
    <em>Calvin Institute of Christian Worship</em>. An absolute gold mine of
    information and inspiration for pastors and music directors.
  </p>

  <h2 class="mt-8 text-2xl font-bold underline text-neutral-950">
    <a href="https://singuntothelord.org/">
      Sing Unto the Lord
    </a>
  </h2>
  <p class="my-4">
    The official website for <em>Sing unto the Lord</em>, a recently
    published hymnal for Anglican and other liturgical churches. Among their
    resources you will find a curated list of hymn recommendations for each
    day in the liturgical calendar.
  </p>
</div>
