<header class="p-8 bg-neutral-100 text-neutral-900 shadow">
  <div class="container mx-auto flex justify-between">
    <a href="<%= root_path %>" class="text-xl font-bold">
      lectionary2019.com
    </a>
    <nav class="flex gap-6 text-xl font-bold">
      <a href="<%= root_path %>">Home</a>
      <a href="<%= about_path %>">About</a>
      <a href="<%= resources_path %>">Resources</a>
    </nav>
  </div>
</header>
