<header class="bg-neutral-100 text-neutral-900 shadow">
  <div class="container mx-auto py-8 flex justify-between">
    <a href="<%= root_path %>" class="text-xl font-bold text-red-700 hover:text-neutral-950">
      lectionary2019.com
    </a>
    <nav class="flex gap-6 text-xl font-bold">
      <a class="text-red-700 hover:text-neutral-950" href="<%= root_path %>">Home</a>
      <a class="text-red-700 hover:text-neutral-950" href="<%= about_path %>">About</a>
      <a class="text-red-700 hover:text-neutral-950" href="<%= resources_path %>">Resources</a>
    </nav>
  </div>
</header>
