<header class="flex justify-between">
  <a href="<%= root_path %>" class="text-2xl font-bold">
    lectionary2019.com
  </a>
  <nav class="text-2xl font-bold">
    <a href="<%= root_path %>">Home</a>
    <a href="<%= about_path %>">About</a>
  </nav>
</header>
